body {
	background-color: white;
}

table {
	width: 100%;
	padding: 0 10%;
}

table td {
	line-height: 40px;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid gray;
}

table th {
	border-top: 3px solid #fbcc00;
	border-bottom: 1px solid #fbcc00;
	height: 40px;
	padding-left: 20px;
	padding: 5px;
	background-color: lightyellow;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoraition: underline;
}