body{
	text-align:center;
}

table th{
	color:white;
	width:100px;
}
select{
	width:200px;
	height:30px;
	border:1px solid #eeeeee;
	border-radius:5px;
}
textarea{
	margin-top:10px;
	width:500px;
	height:300px;
	border:1px solid #eeeeee;
	border-radius:10px;
	font-size:15pt;
}
input[type="submit"],input[type="button"]{
	width:100px;
	height:40px;
	border:3px solid white;
	background-color:#fbcc00;
	color:white;
	font-weight:bold;
}
input[type="submit"]:hover,input[type="button"]:hover{
	background-color:white;
	color:#fbcc00;
	font-weight:bold;
}