input[type=text] {
	width: 200px;
	height: 26px;
	line-height: 26px;
	border: solid 1px lightgray;
}

select {
	width: 60px;
	height: 30px;
	border: solid 1px lightgray;
}

iframe#smallIframe {
	width: 600px;
	height: 550px;
	margin-left: 10px;
	border: none;
}

img {
	width: 25px;
}

div#box {
	margin-left: 50px;
	margin: 30px;
}

div#search {
	float: left;
	display: inline-block;
}

div#select {
	float: left;
	display: inline-block;
}

div#img {
	width: 26px;
	height: 26px;
	padding: 2px;
	background-color: #fbcc00;
	display: inline-block;
}

div#search_selected {
	height: 30px;
	margin-left: 10px;
	display: inline-block;
}