body {
	background-color: white;
}

a div {
	display: inline-block;
	width: 120px;
	height: 35px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	float: left;
	line-height: 35px;
	text-align: center;
	color: black;
	border-radius: 7px 7px 0px 0px;
	font-weight: bold;
}

a div#add {
	background-color: #fbcc00;
}

a div#delete {
	background-color: white;
}

iframe {
	width: 700px;
	height: 650px;
	background-color: #fbcc00;
	border: none;
	padding: 0;
}