* {
	margin: 0;
	padding: 0;
}

ul#info {
	list-style: none;
	float: left;
	padding: 15px;
	color:gray;
}
img#logo{
	float:left;
	margin-right:5px;
	opacity:0.5;
	-webkit-filter : grayscale(1); 
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}