* {
	margin: 0;
}

div#top div#register{
	float:right;
	padding:5px;
}
div#top div#register a{
	padding-right:10px;
	color: #838383;
	font-size:15px;
	font-weight:bold;
	text-decoration: none;
}
	
div#top div#register a:hover{
	text-decoration: underline;
	color:black;
}

div#top div {
	float: right;
	padding: 5px;
}

div#top div a {
	padding-right:10px;
	color: #838383;
	font-size: 10px;
	font-family: 
	'Noto Sans KR','Malgun Gothic','맑은고딕',
	'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}

div#top div a:hover {
	color: #000;
}